*{
    margin: 0 auto;
    padding: 0 auto;
    font-size: 20px;
}    
head tr,th{
    border-color:2px solid black;
    border: 2px;
}

table{
    margin: auto;
    font-size: larger;
    text-align: center ;
    padding: 0 auto;
    border-collapse: collapse;
}
.prin{
    text-align: left;
    background-color: #FA4322;
}
.nota{
    text-align: center;
    background-color: #F93C1F;
    text-align: center ;
}
.body{
    align-items: center;
    background-color: #FA5B43;
    text-align: center ;
    
}
.fecha{
    text-align: center;
    background-color: #FA705E;
    
}


table, thead, tbody, tfoot, td, th, tr{
    border: 1px solid black; 
}